.pagination {
    display: flex;
    gap: 10px;
    list-style: none;

    > li {
        border: 2px solid rgb(196, 25, 136);
        border-radius: 5px;
        padding: 5px 10px;
        :hover {
            cursor: pointer;
        }
    }
}
